/* Begin global styling variables */
html {
  scroll-behavior: smooth;
}

:root {
    --start-font: 'Silkscreen', cursive;
}
/* End global styling variables */

/* phone */
@media screen and (max-width: 479px) {
  .head-wrp {
    margin-top: 70%;
    margin-bottom: 15%;
 }
  h1 {
    font-size: 300%;
  }
  p {
    font-size: 90%;
  }
  .lyric{
    padding-top: 80%;
    padding-bottom: 75%;
    }
}

/* desktop */
@media screen and (min-width: 769px) {
  .head-wrp {
    margin-top: 15%;
 }
  h1 {
    font-size: 700%;
 }

 p {
   font-size: 200%;
 }
 .lyric{
  padding-top: 10%;
  padding-bottom: 8%;

  }
}

/* tablet */
@media screen and (min-width: 480px) and (max-width: 768px) {
  .head-wrp {
    margin-top: 45%;
 }
 h1 {
   font-size: 400%;
 }

 p {
   font-size: 200%;
 }

 .lyric{
  padding-top: 60%;
  padding-bottom: 50%;
  }
}

h1,p {
    font-family: var(--start-font);
    text-align: center;
}

h1 {
  color: black;
}

p {
  color:white;
}

/* Bob - from Hover.css */
@-webkit-keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-16px);
      transform: translateY(-16px);
    }
    50% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    100% {
      -webkit-transform: translateY(-16px);
      transform: translateY(-16px);
    }
  }
  @keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-16px);
      transform: translateY(-16px);
    }
    50% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    100% {
      -webkit-transform: translateY(-16px);
      transform: translateY(-16px);
    }
  }
  @-webkit-keyframes hvr-bob-float {
    100% {
      -webkit-transform: translateY(-16px);
      transform: translateY(-16px);
    }
  }
  @keyframes hvr-bob-float {
    100% {
      -webkit-transform: translateY(-16px);
      transform: translateY(-16px);
    }
  }
  .hvr-bob {
    /* display: inline-block; */
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    
  }
  .hvr-bob, .hvr-bob:focus, .hvr-bob:active {
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
  }


/* Begin lyric screen */

.song h1 {
  color:white;
}

.song p {
  color:white;
}

.lyric1-wrapper {
  background-color: rgb(165, 51, 70);
 
}

/* begin envelope, followed tutorial from https://www.youtube.com/watch?v=4Hm26xcr_dQ with changes as needed */
.envelope {
  width: 500px;
  height: 300px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  background: #d1bab2;
  cursor: pointer;
}

.top-side{
  border-bottom: 250px solid white;
  top: -250px;
  transform-origin: bottom;
  z-index: 6;
  transform: rotateX(180deg);
  transition: all .8s ease;
  transition-delay: 0.6s;
}

.bottom-side{
  border-bottom: 200px solid #e8e0de;
  position: absolute !important;
  bottom: -5px;
  z-index: 4;
}

.top-side, .bottom-side {
  border-left: 250px solid  transparent;
  border-right: 250px solid  transparent;
  position: relative;
}

.left-side {
  border-left: 225px solid #d8cfcc;
  position: absolute;
  left: 0;
}

.right-side {
  border-right: 225px solid #d8cfcc;;
  position: absolute;
  right: 0;
}

.left-side, .right-side {
  border-top: 155px solid transparent;
  border-bottom: 150px solid transparent;
  top: 0;
  z-index: 4;
} 

.env-img {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  transition: all 1s ease;
}

.envelope:hover .top-side {
  transform: rotateX(0deg);
  z-index: 2;
  transition-delay: 0.3s;
}

.envelope:hover .env-img,.envelope:focus .env-img {
  top: -40%;
  z-index: 3;
  transition-delay: 0.8s;
}

/* end envelope */

.link-wrapper {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.lyric2-wrapper {
  background-color: rgb(88, 69, 118);
}

.lyric_two {
  opacity: 1;
  transition: 1s ease;
}
.lyric_two:hover {
  transform: translateY(-50%);
  opacity: 0;
  transition: all 1s ease;
}

.lyric3-wrapper {
  background-color: cornflowerblue;
}

/* transition on this is so that after the mouse is no longer on the car it eases back */
.car {
  padding-bottom: 2.5%;
  transform: rotateX(0vw);
  transition: 2s ease;
}

/* car moves across screen on hover/focus/active, should be responsive considering I used vw */
.car:hover, .car:focus, .car:active {
  transform: translateX(100vw);
  transition: 2s ease;
}

.lyric4-wrapper {
  background-color: rgb(93, 139, 112);
}
/* hvr.grow from hover.css */
.lyric_four {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.lyric_four:hover, .lyric_four:focus, .lyric_four:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.lyric5-wrapper {
  background-color:lightskyblue;
}

.lyric6-wrapper {
  background-color: lightsteelblue;
}

.lyric7-wrapper {
  background-color:slategray;
}

.lyric8-wrapper {
  background-color: pink;
}
/* End lyric screen */