/* Begin global styling variables */
html {
  scroll-behavior: smooth;
}

:root {
    --start-font: 'Silkscreen', cursive;
}
/* End global styling variables */

/* Begin start screen */
body {
  /* background-image: url("../img/pixel_space.png"); */
}
h1,p {
    font-family: var(--start-font);
    text-align: center;
}

h1 {
font-size: 400%;
color:black;
}

p {
    font-size: 200%;
    color:rgb(0, 0, 0);
}

.head-wrp {
   margin-top: 15%;
   margin-bottom: 15%;
}

/* Bob - from Hover.css */
@-webkit-keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-16px);
      transform: translateY(-16px);
    }
    50% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    100% {
      -webkit-transform: translateY(-16px);
      transform: translateY(-16px);
    }
  }
  @keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-16px);
      transform: translateY(-16px);
    }
    50% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    100% {
      -webkit-transform: translateY(-16px);
      transform: translateY(-16px);
    }
  }
  @-webkit-keyframes hvr-bob-float {
    100% {
      -webkit-transform: translateY(-16px);
      transform: translateY(-16px);
    }
  }
  @keyframes hvr-bob-float {
    100% {
      -webkit-transform: translateY(-16px);
      transform: translateY(-16px);
    }
  }
  .hvr-bob {
    /* display: inline-block; */
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    
  }
  .hvr-bob, .hvr-bob:focus, .hvr-bob:active {
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
  }

/* End start screen */

/* Begin lyric screen */

.lyric1-wrapper {
  background-color: pink;
}

.lyric{
  padding-top: 20%;
  padding-bottom: 15%;
}

.link-wrapper {
  text-align: center;
  padding-bottom: 5%;
}

.lyric2-wrapper {
  background-color: antiquewhite;
}

.lyric3-wrapper {
  background-color: cornflowerblue;
}

.lyric4-wrapper {
  background-color: lightgoldenrodyellow;
}

.lyric5-wrapper {
  background-color:lightskyblue;
}

.lyric6-wrapper {
  background-color: lightsteelblue;
}

.lyric7-wrapper {
  background-color:slategray;
}

.lyric8-wrapper {
  background-color: pink;
}
/* End lyric screen */